@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-image: url("black.png");
  font-weight: bold;
  height: 100vh;
}
.div {
  max-width: 80%;
  margin: auto;
}
h2 {
  font-size: 2rem;
}

.btn1 {
  background-color: #8bbccc;
  color: black;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
  padding: 1rem 2rem 1rem;
}

.btn2 {
  background-color: #aebdca;
  color: black;
  padding: 1rem 3rem 1rem;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
}
